---
import '@fontsource-variable/rubik/wght.css'
import '@assets/global.css'
import Fonts from '@components/Fonts.astro'
import Head from '@components/Head.astro'
import LogoDark from '@assets/title_with_logo_dark.svg'
import LogoLight from '@assets/title_with_logo_light.svg'
import rubikWoff2 from '@fontsource-variable/rubik/files/rubik-latin-wght-normal.woff2?url'
import ThemeScript from '@components/ThemeScript.astro'
import Topbar from '@components/Topbar.astro'
import { HoverCard } from '@examples/hover-card/HoverCard'
import { Spring2DDemo } from '@examples/spring/Spring2DDemo'
import { SineWave2DDemo } from '@examples/sine-wave/SineWave2DDemo'
import araraImage from '@assets/examples/arara_blue.jpg'
import Code from '@components/docs/code/Code.astro'
import { SliderSineWaveDemo } from '@examples/sine-wave/SliderSineWaveDemo'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <Head
      title="Animated Signals for SolidJS"
      description="SolidJS animation primitives using signals, useful for procedural and highly reactive animations"
      image="https://ararajs.vercel.app/banner.jpg"
    />
    <link rel="canonical" href={Astro.url} />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={rubikWoff2}
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/fonts/MonaspaceNeon-Regular-v1.101.woff2"
      crossorigin="anonymous"
    />
    <ThemeScript />
    <Fonts />
    <script
      defer
      data-domain="ararajs.vercel.app"
      data-api="/plausible/api/event/"
      src="/plausible/js/script.js"
      is:inline></script>
  </head>
  <body class="flex flex-col bg-arara-bg text-arara-text antialiased">
    <Topbar />
    <main class="flex w-full flex-col items-center pb-20">
      <!-- Hero Section -->
      <div
        class="relative flex max-w-7xl grow flex-col items-center px-8 py-20 md:pb-20 md:pt-40"
      >
        <div class="flex flex-col items-center">
          <img
            src={LogoDark.src}
            alt="arara logo dark"
            class="h-40 dark:hidden md:h-52"
          />
          <img
            src={LogoLight.src}
            alt="arara logo light"
            class="hidden h-40 dark:block md:h-52"
          />
          <h1 class="mt-5 text-center text-2xl md:text-3xl">
            SolidJS Animations <u class="text-nowrap">with signals</u>
          </h1>
          <div class="mt-8 flex gap-4">
            <a
              href="/docs/"
              class="rounded-lg bg-arara-300 px-6 py-3 text-lg font-medium transition-all duration-100 active:translate-y-0.5"
            >
              Get started
            </a>
            <a
              href="/docs/primitives/spring/"
              class="rounded-lg border-2 border-arara-300 px-6 py-3 text-lg font-medium transition-all duration-100 active:translate-y-0.5"
            >
              View Docs
            </a>
          </div>
        </div>
      </div>

      <!-- Demo Sections -->
      <div class="grid w-full gap-20 pb-20">
        <!-- Interactive Card Demo Section -->
        <section class="w-full">
          <!-- Background with curved top -->
          <div
            class="h-20 bg-arara-200/70 [clip-path:ellipse(100%_300px_at_center_380%)] md:h-32 md:[clip-path:ellipse(100%_300px_at_center_280%)]"
          ></div>
          <div
            class="flex flex-col items-center bg-arara-200/70 pb-28 pt-4 md:pt-12"
          >
            <div class="grid max-w-7xl items-center gap-8 md:grid-cols-2">
              <div class="px-8 md:px-12">
                <h2 class="mb-4 text-3xl font-bold">Interactive Animations</h2>
                <p class="text-lg">
                  Create rich, physics-based interactions by combining springs
                  and sine waves <i class="bg-arara-400 p-1">for now 👀</i>
                </p>
                <p class="pt-4 text-lg">
                  Stay inside the reactive paradigm of <u>SolidJS</u>
                </p>
                <p class="pt-4 text-lg">
                  No need to move out of reactivity to deal with the imperative
                  / sequential nature of animations.
                </p>
              </div>
              <div class="flex justify-center">
                <HoverCard
                  client:idle
                  imgSrc={araraImage.src}
                  class="max-w-80"
                />
              </div>
            </div>
          </div>
          <!-- Interactive Card Demo -->
        </section>

        <!-- Spring Physics Demo -->
        <section class="flex w-full justify-center">
          <div
            class="grid w-full max-w-7xl items-center gap-8 px-8 md:grid-cols-2 md:px-12"
          >
            <div class="md:order-2">
              <h2 class="mb-4 text-3xl font-bold">Emergent Behavior</h2>
              <p class="text-lg">
                Create complex animations by combining simple signal primitives.
              </p>
              <p class="pt-4 text-lg">
                Like building blocks, use <span
                  class="bg-arara-200 p-1 font-finger-paint">Spring</span
                >
                for your transitions and respond smoothly to dynamic changes.
              </p>
            </div>
            <div class="md:order-1">
              <Spring2DDemo client:load />
            </div>
          </div>
        </section>

        <!-- Sine Wave Demo -->
        <section class="flex w-full justify-center bg-arara-200/70 py-32">
          <div
            class="grid w-full max-w-7xl items-center gap-8 px-8 md:grid-cols-2 md:px-12"
          >
            <div class="md:order-1">
              <h2 class="mb-4 text-3xl font-bold">Animated Signals</h2>
              <p class="pb-6 text-lg">
                Create highly reactive and composable animations through signal
                primitives.
              </p>
              <h3 class="text-xl">1D</h3>
              <Code
                code={`const [body] = createSine(() => ({
   frequency: freq(),
}))`}
                lang="tsx"
              />
              <h3 class="text-xl">2D</h3>
              <Code
                code={`const [body2D] = createSineWave2D({
  amplitude: [90, 90],
  frequency: [1, 1],
  phase: [Math.PI/2, 0]
})`}
                lang="tsx"
              />
            </div>
            <div class="flex flex-col gap-8 md:order-2">
              <SliderSineWaveDemo client:load class="bg-arara-text/90" />
              <SineWave2DDemo client:load class="bg-arara-text/90" />
            </div>
          </div>
        </section>
      </div>
    </main>
  </body></html
>
